@model IEnumerable<CapaDatos.Database.Cursos>

@{
    ViewBag.Title = "Cursos";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mb-0">
                    <i class="fas fa-book me-2"></i>@ViewBag.Title
                </h3>
                @Html.ActionLink("Nuevo Curso", "Create", null, new { @class = "btn btn-light btn-sm" })
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                            <th>@Html.DisplayNameFor(model => model.Seccion)</th>
                            <th>@Html.DisplayNameFor(model => model.FechaInicio)</th>
                            <th>@Html.DisplayNameFor(model => model.FechaFin)</th>
                            <th>@Html.DisplayNameFor(model => model.Estado)</th>
                            <th>@Html.DisplayNameFor(model => model.Usuarios.Nombre)</th>
                            <th class="text-end">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                <td>@Html.DisplayFor(modelItem => item.Seccion)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaFin)</td>
                                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                                <td>@Html.DisplayFor(modelItem => item.Usuarios.Nombre)</td>
                                <td class="text-end">
                                    <div class="btn-group btn-group-sm">
                                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary" })
                                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>